    {# empty Twig template #}
<ul class="nav justify-content-end ">
    <li class="nav-item ml-2">
        <a class="nav-link button-primary-outline" href="#">
            <i class="fas fa-plus mr-2"></i>Dodaj ogłoszenie
        </a>
    </li>
  
    <li class="nav-item dropdown animate-hover-slide-bottom  ml-2 position-relative ">
        <button class="nav-link button-primary-light dropdown-toggle "  id="DropdownMenuLoggedOut" data-toggle="dropdown" >
            <i class="fas fa-user mr-1 "></i> Moje Konto 
        </button>
        
        <ul class="dropdown-menu p-0" aria-labelledby="DropdownMenuLoggedOut">
            <li class="dropdown-item">
                <a class="btn btn-login-menu" href="#">Zaloguj się</a>
            </li>
                <div class="dropdown-divider p-0 m-0"></div>
            <li class=" dropdown-item ">
                <a class=" btn btn-login-menu" href="">Zarejestruj się</a>
            </li>
        </ul>
    </li>
</ul>
