
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5 mb-5">
                {{ include('@FOSUser/Security/login_content.html.twig') }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}