/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-01-12, 18:52:06
    Author     : pc
*/

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.button-primary-outline {
  text-decoration: none;
  background-color: white;
  color: $color-primary;
  display: inline-block;
  padding: $s-2 $s-3 $s-2 $s-3;
  border: 2px solid #F6200F !important;
  letter-spacing: 0.6px !important;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color-primary;
    color: #fff;
    border-bottom: 4px solid darken($color-primary, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}

.btn-menu {
  background-color: white;
  border: 0px;
  letter-spacing: 0.6px !important;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  font-size: $font-size-small;
  color: $color-black-light;
  .icon-menu {
    font-size: $s-4;
    margin-right: $s-2;
  }

}

.btn-red { 
    cursor: pointer;
    background-color: $color-red;
    font-weight: 500 !important;
    letter-spacing: 0.6px !important;
    border: 2px solid $color-dark-red;
    border-radius:5px;
    height: 40px;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 100%;
    
    &:hover {
        background-color: $color-dark-2-red;
    }
    
}