
{% block fos_user_content %}
    <div class="row">
        <div class="col-sm-12 mt-5 mb-5">
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    <div class="row">
{% endblock fos_user_content %}
