

<div class="row">
    <div class="col-md-4 col-sm-10 m-auto">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-heading">
                    <h1 class="form-heading primary secondary">Formularz rejestracji użytkownika</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                
                <form class="default-form">
                    <fieldset>
                        <legend>Dane logowania:</legend>

                        <div class="box-input">
                            <label for="username" class="">Nazwa użytkownika:</label>
                            <input autocomplete="off" required="" placeholder="Nazwa użytkownika" name="username" type="text" id="username">
                        </div>
                        
                        <div class="box-input">
                            <label for="email" class="">Adres e-mail:</label>
                            <input autocomplete="off" required="" placeholder="Adres e-mail" class="" name="email" type="email" id="email">
                        </div>
                        <div class="box-input">
                            <label for="password" class="">Hasło:</label>
                            <input autocomplete="off" required="" placeholder="Hasło" class="" name="password" type="password" id="login">
                        </div>
                        <div class="box-input">
                            <label for="confirm_password" class="">Powtórz hasło:</label>
                            <input autocomplete="off" required="" placeholder="Powtórz hasło" class="" name="confirm_password" type="password" id="confirm_password">
                        </div>
                    </fieldset>
                    
                    <div class="submit-contanier">
                        <div class="submit-block">
                            <button type="submit" class="btn-blue">
                                <i class="fas fa-user-plus"></i>
                                    Zarejestruj się
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>