{# empty Twig template #}
<div class="container">
    
    {% if app.request.get('_route') == 'homepage' %}
        {% include 'Parts/HeaderLogoH1.html.twig' %}
    {% else %}
        {% include 'Parts/HeaderLogoH2.html.twig' %}
    {% endif %}

    <div class="navbar-search">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
        </form>
    </div>

    {% if app.user %}
        {{ sonata_block_render({'type': 'user.authenticated.menu.block'}) }}
    {% else %}
        {{ sonata_block_render({'type': 'user.unauthenticated.menu.block'}) }}
    {% endif %}
</div>