// Formularze

form.default-form {

    padding: $s-5;
    background-color: $color-white;
    transition-duration:2s;
    
    @include default-border(1px, solid, $color-gray-dark);
   
    
    fieldset{    
        width: $w-85;
        margin: auto;
        margin-top: $s-3;
    }
    
    legend{
        @include default-border(2px, solid, $color-dark-blue, bottom);
        font-weight: $bold; 
        font-size: $font-size-big2;
    }
    
    .box-input{
        
        width:90%;
        display:block;
        transition: transform 150ms ease-out, font-size 150ms ease-out;
        margin-top:$s-2;
        margin-right:auto;
        margin-left:auto;
        position:relative;
      
        input#fos_user_registration_form_username{
             background-color:white;
        }
        input {
            @include default-input-text();
            outline-style:none;
            box-shadow:none; 
            background-color:white;
        }
        
        label{
            font-size: $s-90;
            display: block;
            width: $w-90;
            margin-bottom:0px;
            margin-top:$s-3;
            opacity:0;
            transition: 0.25s;
        }
        
        .form-error {
            ul {
                margin-top:$s-3;
                margin-left:0;
                padding-left:0px;
                padding:$s-2;
                
                li{
                    list-style: none;
                    font-weight:bold;
                    color:$color-red;
                }
                
                li:before
                {
                    content: "*";
                    margin-right:$s-2;
                    color:$color-red;
                }
            }
        }
   
    }
    
    div.focused{
        
        label{
            display:block;
            opacity:1;
            position:relative;
            transform: translateY(-25%);
            font-size: $s-90;
            font-weight: $font-weight;
            margin-top:$s-5;
        }
            
        input {
            border-bottom:2px solid $color-red;  
        }
            
        input::-webkit-input-placeholder{
            color:transparent;
        }
    }
    
    div.focused-error{
        
        label{
            display:block;
            opacity:1;
            position:relative;
            transform: translateY(-25%);
            font-size: $s-90;
            font-weight: $font-weight;
            margin-top:$s-5;
        }
            
        input {
            border-bottom:2px solid $color-red;  
        }
            
        input::-webkit-input-placeholder{
            color:transparent;
        }
    }
    
    .submit-contanier{
        
        width: $w-85;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 0.75rem;
        
        .submit-block{ 
            display:block;
            margin:0 auto;
            width: calc(90% - 2px);
        }
        
        button{    
            display:block;
            margin: 0 auto;
        }
        
    }
}

.form-heading{
    
    font-size:$font-size-huge;
    display: inline-block;
        
    >h1{
        padding:$s-4;
        margin: $s-0;
    }
        
    > h1.primary{
        background-color: $color-red;
        color:$color-white
    }
        
    > h1.secondary{
        background-color: $color-blue;
        color:$color-white
    }
}