//style komponentów strony


// Formularze


form.form-two-column{
	display:block;
	width:100%;
	margin: 0 auto;
	margin-bottom:$s-8;

	>fieldset{
		display:block;
		width:100%;
		margin-top: $s-8;
		

		> div{
			//display:inline-block;
			margin-top:0.5em;
			margin-bottom:0.5em;
			@include breakpoint($mobile){
				width:calc(100% - 2px);
				@include set_grid(1, inline-grid, center);
			}

			@include breakpoint($tablet){
				width:calc(50% - 2px);
				@include set_grid(1, inline-grid, center);
			}

			label{
				font-size:$font-size-small-5;
				display:block;
				width:90%;
			}

			input{
					padding-left:20px;		
					border-radius:6px;
					height:34px;
					border:1px solid $color-dark-gray;
					display:block;
					width:90%;
				}

			>div.number-phone-input{
				@include set_grid_typical;
				width:90%;
				input{
					display: inline-block;
					width: 100%;
					border-left:0px;
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;


				}

				span{
					margin:auto;
					@include set_grid(1, inline-grid);
					font-weight: $font-weight-form-bold;
					border:1px solid $color-dark-gray;
					border-radius:6px;
					border-right:0px;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
					border-right:1px solid $color-dark-gray;
					width:100%;
					height: 100%;
				}

			}	

			// do numeru telefonu
			
		}

		>legend{
			width:100%;
			display:block;
			@include default-legend-form();
		}

	}

	.submit-container{
		width: 95%;
    	margin: 0 auto;
    	margin-top: $s-8;
    	
		input[type="submit"]{
			display: block;

			@include breakpoint($mobile){
				width: 95%;
				margin: auto;
			}

			@include breakpoint($tablet){
				    width: 47.5%;
    				margin-left: auto;
    				margin-right: 0px;
			}
		}
	}



}