// podstawowe style bazowe 
@import 'partials/_mixins';
@import 'partials/_variables';

// max-width w % co 2%
$i:0;
@while $i < 100{
	.mw-#{$i}{ @include set_max_width($i * 1%)};
	$i:$i+2;
};

// width w % co 5%
$i:0;
@while $i < 100{
	.w-#{$i}{ @include set_width($i * 1%)};
	$i:$i+5;
};

// max height co 5%
$i:0;
@while $i < 100{
	.mh-#{$i}{ @include set_max_height($i * 1%)};
	$i:$i+5;
};


//height co 5%
$i:0;
@while $i < 100{
	.h-#{$i}{ @include set_height($i * 1%)};
	$i:$i+5;
};

//padding zwiekszany o 0.25rem
$i:0;
@while $i < 20{
	$step: 0.25rem;
	.p-#{$i}{ @include set_padding($i * $step)};
	$i:$i+1;
};

//padding top
$i:0;
@while $i < 20{
	$step: 0.25rem;
	.pt-#{$i}{ @include set_padding_top($i * $step)};
	$i:$i+1;
};

//padding lewy
$i:0;
@while $i < 20{
	$step: 0.25rem;
	.pl-#{$i}{ @include set_padding_left($i * $step)};
	$i:$i+1;
};

//padding prawy
$i:0;
@while $i < 20{
	$step: 0.25rem;
	.pr-#{$i}{ @include set_padding_right($i * $step)};
	$i:$i+1;
};

//padding dolny
$i:0;
@while $i < 20{
	$step: 0.25rem;
	.pb-#{$i}{ @include set_padding_bottom($i * $step)};
	$i:$i+1;
};

$i:0;
@while $i < 20{
	$step: 0.10px;
	.letter-spacing-#{$i}{ @include set_letter_spacing($i * $step)};
	$i:$i+1;
};

$i:0;
@while $i < 30{
	$step: 0.10rem;
	.f-s-#{$i}{ 
		font-size: $i* $step;
	};
	$i:$i+1;
};

//margin right dolny
$i:0;
@while $i < 20{
	$step: 0.25rem;
	.mr-#{$i}{ @include set_margin_right($i * $step)};
	$i:$i+1;
};













