{# empty Twig template #}
<h2 class=" m-0 p-0 " > 
    <a href="{{ url('homepage') }}"  title="Najem i wynajem" >
        <img src="" class="img-fluid w-90" alt="Najem i wynajem logo" id="LogoImg" />
    </a>
</h2>